:root {
  --primary-color: #337ab7;
  --primary-color-dark: #286090;
  --primary-color-light: #458ac7;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: linear-gradient(135deg, #f8fdff 0%, #dde4ff 100%);
  color: #1f1f1f;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.card-content {
  box-sizing: border-box;
}

.card-content.input-area {
  display: flex;
}

.card-content.result-area {
  display: none;
}

.card-content.result-area.show {
  display: block;
}

.card-content.result-area h3 {
  margin-top: 0;
}

button {
  padding: 5px 20px;
  background-color: var(--primary-color);
  color: #fdffff;
  border-style: none;
  text-wrap: none;
  flex-shrink: 0;
  box-sizing: border-box;
  border-bottom: 2px solid var(--primary-color-dark);
  border-radius: 0 4px 4px 0;
}

button:hover {
  background-color: var(--primary-color-light);
  cursor: pointer;
}

button:active {
  border-bottom: none;
  margin-top: 2px;
}

input {
  border: none;
  background-color: #eaeaea;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 4px var(--primary-color);
}

small {
  margin-top: 8px;
  color: #888;
}

small a {
  color: #888;
  text-decoration: none;
}

small a:hover {
  text-decoration: underline;
}
